<p id="notice"><%= notice %></p>
<% if @current_user.present? && @current_user.user_type == 'admin' %>
      <h1>Users</h1>
      <table>
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>User type</th>
            <th>Email</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <!-- <td><%= user.id %></td> -->
              <td><%= user.name %></td>
              <td><%= user.user_type %></td>
              <td><%= user.email %></td>
              <td><%= user.password %></td>
              <!-- <td><%= link_to 'Show', @user %></td> -->
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end %>
    <% else %>
    <h1>Users</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @rental_user.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <!-- <td><%= link_to 'Show', @user %></td> -->
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>


          <% end %>
        </tbody>
      </table>

<br>
<% end %>
