<% if @current_user.nil? %>
    <h2>Please Sign-in to hire a bike!</h2>
    <% elsif @current_user.present? %>
        <%= form_with(model: rental, local: true) do |form| %>
        <% if rental.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

            <ul>
            <% rental.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :bike_id %>
          <%= form.number_field :bike_id, id: :rental_bike_id %>
        </div>

        <div class="field">
          <%= form.label :user_id %>
          <%= form.number_field :user_id, id: :rental_user_id %>
        </div>

        <div class="field">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time, id: :rental_start_time %>
        </div>

        <div class="field">
          <%= form.label :end_time %>
          <%= form.datetime_select :end_time, id: :rental_end_time %>
        </div>

        <div class="field">
          <%= form.label :start_station %>
          <%= form.text_area :start_station, id: :rental_start_station %>
        </div>

        <div class="field">
          <%= form.label :end_station %>
          <%= form.text_area :end_station, id: :rental_end_station %>
        </div>

        <div class="field">
          <%= form.label :cost %>
          <%= form.text_field :cost, id: :rental_cost %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
        <% end %>
<% end %>
