


<% if @current_user.nil? %>
    <h2>Please Sign-in to hire a bike!</h2>
    <% elsif @current_user.present? %>
        <%= form_with(model: rental, local: true) do |form| %>
        <% if rental.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

            <ul>
            <% rental.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :start_stand_id %>
          <%= form.select :start_stand_id, Bikestand.pluck(:location,:id), :include_blank => true %>
        </div>

        <div class="field">
        <p>Bikes available on this stand</p>
          <% Bikestand.all.each do |stand| %>
            <%= select_tag "rental[bike_id]",
                options_for_select(stand.bikes.where(:available => true).pluck(:bike_serial_num, :id)),
                :id => "bikestand_#{stand.id}", :class => 'bikes' %>
          <% end %>
        </div>

        <div class="field">
        <%= form.hidden_field(:user_id, {:value=>@current_user.id}) %>
        </div>

        <div class="field">
          <%= form.label :start_time %>
          <%= form.text_field :start_time, id: :rental_start_time %>
        </div>

        <div class="actions">
          <%= form.submit "Hire a Bike"%>
        </div>


        <% end %>
<% end %>

<%= content_tag :div, id: "map", data: {location: @bikestands} do %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nJABK2HEiQKo4V-FCEMWX5xag8vVJeA&callback=initMap">
</script>

<script>
let bikestand = {lat: -33.87, lng: 151.20}
let map;
// let ipAddress = '<%=  request.remote_ip %>'
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: bikestand.lat, lng: bikestand.lng},
    zoom: 15
  });
  console.log($('#map').data('location') )
  let locationList = $('#map').data('location')
  for (var i = 0; i < locationList.length; i++) {
    console.log( locationList[i] )
    marker = new google.maps.Marker ({
     position: {lat: +locationList[i].bikestand_lat, lng: +locationList[i].bikestand_long},
     map: map,
     label: locationList[i].location
    })
  }
}
navigator.geolocation.getCurrentPosition( function(results) {
  console.log(results.coords.latitude, results.coords.longitude)
  bikestand = {lat: results.coords.latitude, lng: results.coords.longitude}
 // initMap()
})
</script>

<% end %>
