<%if @current_user.nil?%>

<h2>Please <%= link_to 'Sign in', login_path %></h2>

<% elsif @current_user.present?%>
<p id="notice"><%= notice %></p>



<%if @current_user.user_type === 'admin' %>
  <h1>Rentals</h1>
  <%else%>
  <h1>Rentals</h1>
  <%end%>
<br>
  <span class="button"><%= link_to 'New Rental', new_rental_path %></span>
<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
<table>
  <thead>
    <%if @current_user.user_type === 'admin' %>
      <tr class="row100 head">
        <th class="column100 column1">Bike</th>
        <th class="column100 column2">User</th>
        <th class="column100 column3">Start Time</th>
        <th class="column100 column4">End Time</th>
        <th class="column100 column5">Start Stand</th>
        <th class="column100 column6">End Stand</th>
        <th class="column100 column7">Cost</th>
        <th class="column100 column8">Details</th>
        <th class="column100 column9">Actions</th>
      </tr>
  </thead>

  <tbody>

    <% @rentals.each do |rental| %>
      <tr class="row100">
        <td class="column100 column1"><%= rental.bike.bike_serial_num %></td>

        <td class="column100 column2"><%= rental.user.name%></td>




        <%if rental.start_time.present? %>
          <td class="column100 column3"> <%= rental.start_time.strftime('%e %b %Y  %l:%M %P') %>  </td>
          <%else%>
          <td class="column100 column3"></td>
        <%end%>

        <%if rental.end_time.present? %>
          <td class="column100 column4"> <%= rental.end_time.strftime('%e %b %Y  %l:%M %P') %>  </td>
          <%else%>
          <td class="column100 column4"></td>
        <%end%>

        <!--*******************************************-->
        <td class="column100 column5"><%= rental.start_stand.location %></td>

        <%if rental.end_stand_id.present?%>
        <td class="column100 column6"><%= rental.end_stand.location %></td>
        <%else %>
        <td class="column100 column6"></td>
        <% end %>

        <td class="column100 column7"><%= number_to_currency(rental.cost) %></td>
        <td class="column100 column8"><%= link_to 'View Details', rental %></td>
        <td class="column100 column9"><%= link_to 'Return Bike', edit_rental_path(rental) %></td>


        <!--*******************************************-->
        <!-- <td class="column100 column7"><%# number_to_currency(rental.cost) %></td> -->

        <td class="column100 column8"><%= link_to 'Remove Rental', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      <% elsif @current_user.user_type === 'user' %>

    <thead>
      <tr class="row100 head">
        <th class="column100 column1">Bike</th>
        <th class="column100 column2">Start Time</th>
        <th class="column100 column3">End Time</th>
        <th class="column100 column4">Start Stand</th>
        <th class="column100 column5">End Stand</th>
        <th class="column100 column6">Cost</th>
        <th class="column100 column7">Details</th>
        <th class="column100 column8">Actions</th>
      </tr>
    </thead>

    <tbody>

      <% @rental_user1.each do |rental| %>
        <tr class="row100">
          <td class="column100 column1"><%= rental.bike.bike_serial_num%></td>


          <%if rental.start_time.present? %>
            <td class="column100 column2"> <%= rental.start_time.strftime('%e %b %Y  %l:%M %P') %></td>
            <%else%>
            <td class="column100 column2"></td>
          <%end%>

          <%if rental.end_time.present? %>
            <td class="column100 column3"> <%= rental.end_time.strftime('%e %b %Y  %l:%M %P') %>  </td>
            <%else%>
            <td class="column100 column3"></td>
          <%end%>
          <!--*******************************************-->

          <td class="column100 column4"><%= rental.start_stand.location %></td>
          <% if rental.end_stand_id.present? %>
          <td class="column100 column5"><%= rental.end_stand.location %></td>
          <%else %>
          <td class="column100 column5"></td>
          <% end %>
          <!--*******************************************-->

          <td><%= number_to_currency(rental.cost) %></td>




          <td class="column100 column7"><%= link_to 'View Details', rental %></td>
            <%if !rental.end_stand.present? %>
              <td class="column100 column8"><%= link_to 'Return Bike', edit_rental_path(rental) %></td>
            <% else %>
              <td class="column100 column8"></td>
            <%end %>
          <!-- <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<br>


<% end %>
