<%if @current_user.nil?%>
  <h2>Please Sign in.</h2>

<% elsif @current_user.present?%>
  <p id="notice"><%= notice %></p>
  <h1>Your Rental History</h1>
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
<table>
  <thead>
    <tr class="row100 head">
      <th class="column100 column1">Bike</th>
      <th class="column100 column2">User</th>
      <th class="column100 column3">Start Time</th>
      <th class="column100 column4">End Time</th>
      <th class="column100 column5">Start Stand</th>
      <th class="column100 column6">End Stand</th>
      <th class="column100 column7">Cost</th>
      <th class="column100 column8">Details</th>
      <th class="column100 column9">Actions</th>
    </tr>
  </thead>

  <tbody>

      <% @rental_user.each do |rental| %>
        <tr class="row100">
          <td class="column100 column1"><%= rental.bike.bike_serial_num%></td>
          <td class="column100 column3"><%= rental.start_time %></td>
          <td class="column100 column4"><%= rental.end_time %></td>
          <!--*******************************************-->
          <td class="column100 column5"><%= rental.start_stand.location %></td>
            <% if rental.end_stand_id.present? %>
            <td class="column100 column6"><%= rental.end_stand.location %></td>
            <% else %>
            <td class="column100 column6"></td>
            <% end %>
          <!--*******************************************-->

          <td class="column100 column7"><%= number_to_currency(rental.cost) %></td>
          <td class="column100 column8"><%= link_to 'View Details', rental %></td>
            <% if !rental.end_stand_id.present? %>
            <td class="column100 column9"><%= link_to 'Return Bike', edit_rental_path(rental) %></td>
            <% else %>
            <td></td>
            <%end %>
        </tr>
      <% end %>

  </tbody>
</table>
</div>
</div>
</div>
<br>
<% end %>
