<p id="notice"><%= notice %></p>

<p>
  <strong>Bike:</strong>
  <%= @rental.bike_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @rental.user_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @rental.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @rental.end_time %>
</p>

<p>
  <strong>Start station:</strong>
  <%= @rental.start_stand.location %>
</p>

<% if @rental.end_stand.present? %>
  <p>
    <strong>End station:</strong>
    <%= @rental.end_stand.location %>
  </p>
<% end %>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@rental.cost) %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
