<h1>Your Rental Details</h1>
<%if @current_user.present? && !@rental.end_stand_id.present? %>
<h3>You have rented bike <%= @rental.bike.bike_serial_num %></h3><p> Starting from <%= @rental.start_stand.location %> at  <%= @rental.start_time.strftime('%e %b %Y  %l:%M %P') %></p>
<br>
<%= link_to 'Return Bike', edit_rental_path(@rental) %> |

<%= link_to 'Back', rentals_path %>

<%else %>
<h3>Thank you for choosing bShare</h3>
<p>Receipt Details:</p>
<p>Bike: <%= @rental.bike.bike_serial_num %>.</p>
<p>Travel Details:-</p>
<p><%= @rental.start_stand.location %> to <%= @rental.end_stand.location %></p>
<p> Start time:<%= @rental.start_time.strftime '%l:%M:%S %p %A' %></p>
<p> End time:<%= @rental.end_time.strftime '%l:%M:%S %p %A' if @rental.end_time.present? %></p>

<p>Cost:<%= number_to_currency(2 * @rental.duration) %></p>
<!-- <p>Duration: <%= @rental.duration %> hours</p> -->
<p>Duration: <%= @rental.duration %> hours</p>
<br>
<%= link_to 'Back', rentals_path %>


<% end %>
