<%if @current_user.present? && !@rental.end_stand_id.present? %>
<p>You have taken <%= @rental.bike.bike_serial_num %>.</p><p> Starting from <%= @rental.start_stand.location %> at  <%= @rental.start_time %></p>

<%= link_to 'Return Bike', edit_rental_path(@rental) %> |

<%= link_to 'Back', rentals_path %>

<%else %>
<p>Thankyou for choosing BikeShare App</p>
<p>Receipt Details</p>
<p>Bike: <%= @rental.bike.bike_serial_num %>.</p>
<p>Travel Details:</p>
<p><%= @rental.start_stand.location %> to <%= @rental.end_stand.location %></p>
<p> Start time:<%= @rental.start_time %></p>
<p> End time:<%= @rental.end_time %></p>

<p>Cost:<%= @rental.cost %></p>
<p>Duration:</p>

<%= link_to 'Back', rentals_path %>


<% end %>
