  <header id="hero">
        <%= image_tag("bshare_header.png", :alt => "bshare header") %>
  </header>
  <main>
  <% if @current_user.nil? %>
    <h4>Please <%= link_to 'sign up', new_user_path %> or <%= link_to 'sign in', login_path %> to hire a bike!</h4>
  <% else @current_user.present? %>
          <% if @current_user.present? && @current_user.user_type === 'admin' %>
          <h1 class="welcome">Welcome, <%= @current_user.name%>!</h1>
          <div class="button"><%= link_to 'Hire Bike', new_rental_path %></div>
          <div class="button"><%= link_to 'Rental History', rentals_path %></div> <%# TODO: Fix this so users can only see their own rental history, not everyone else's %>

          <% elsif @current_user.present? && @current_user.user_type === 'user' %>
          <h1 class="welcome">Welcome, <%= @current_user.name%>!</h1>
          <div class="button"><%= link_to 'Hire Bike', new_rental_path %></div>
          <div class="button"><%= link_to 'Rental History', rental_user_path %></div> <%# TODO: Fix this so users can only see their own rental history, not everyone else's %>
         <% end %>

  <% end %>

  <div class="steps">
    <div class="step01">
      <!-- <p>Find your nearest bikestand</p> -->
      <%= image_tag("step01_bg.png", :alt => "Step 1, find a bike stand close to you from our app") %>
    </div>
    <div class="step02">
      <!-- <p>Choose a bike and ride!</p> -->
    <%= image_tag("step02_bg.png", :alt => "Step 2, rent a bike by choosing it from our app. Take it anywhere.") %>

    </div>
    <div class="step03">
      <!-- <p></p> -->
      <%= image_tag("step03_bg.png", :alt => "Step 2, return bike to closest bike stand when you're done.") %>

    </div>
  </div>

</main>
