
<p id="notice"><%= notice %></p>

<h1>Bikes</h1>

<table>
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Bike Stand</th>
      <!-- added -->
      <th>Available</th>
      <!-- added -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.bike_serial_num %></td>

        <% if bike.bikestand.present? %>
          <td><%= bike.bikestand.location %></td>
        <%end%>

        <!-- <td><%= bike.bikestand_id %></td> -->
        <!-- added -->
        <% if bike.available %>
        <td>Yes</td>
        <% else %>
        <td>No</td>
        <% end %>

        <!-- added -->

        <%if @current_user.present? && @current_user.user_type == 'admin'%>
        <td><%= link_to 'Show', bike %></td>
        <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @current_user.present? && @current_user.user_type == 'admin' %>
<%= link_to 'New Bike', new_bike_path %>

<% end %>
