
<p id="notice"><%= notice %></p>

<h1>Bikes</h1>
<br>
<% if @current_user.present? && @current_user.user_type == 'admin' %>
<div class="button"><%= link_to 'New Bike', new_bike_path %></div>

<% end %>
<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
<table>
  <thead>
    <tr class="row100 head">
      <th class="column100 column1">Serial Number</th>
      <th class="column100 column2">Bike Stand</th>
      <!-- added -->
      <th class="column100 column3">Available</th>
      <!-- added -->
      <th class="column100 column4" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr class="row100">
        <td class="column100 column1"><%= link_to "#{bike.bike_serial_num}", bike %></td>

        <% if bike.bikestand.present? %>
          <td class="column100 column2"><%= bike.bikestand.location %></td>
        <%end%>

        <!-- <td><%= bike.bikestand_id %></td> -->
        <!-- added -->
        <% if bike.available %>
        <td class="column100 column3">Yes</td>
        <% else %>
        <td class="column100 column3">No</td>
        <% end %>

        <!-- added -->

        <%if @current_user.present? && @current_user.user_type == 'admin'%>
        <td class="column100 column4"><%= link_to 'Show', bike %></td>
        <td class="column100 column5"><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td class="column100 column6"><%= link_to 'Remove Bike', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
