
<p id="notice"><%= notice %></p>

<%= image_tag "default_bike.png" %>

<p>
  <strong>Serial Number:</strong>
  <%= @bike.bike_serial_num %>
</p>

<p>
  <strong>Bike Stand:</strong>
  <%= @bike.bikestand.location %>
</p>

<p><strong>Available for Hire:</strong></p>
  <% if @bike.available %>
  <p>Yes</p>
  <% else %>
  <p>No</p>
  <% end %>


<% if @current_user.user_type === 'admin' %>
<%= link_to 'Edit', edit_bike_path(@bike) %> |
<% end %>
<%= link_to 'Back', bikes_path %>
