<% if @current_user.nil? %>
<h2>Restricted to Admins!</h2>
  <% elsif @current_user.present? && @current_user.user_type == 'admin'%>
   <%= form_with(model: bikestand, local: true) do |form| %>
    <% if bikestand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bikestand.errors.count, "error") %> prohibited this bikestand from being saved:</h2
        <ul>
          <% bikestand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_area :location, id: :bikestand_location, :required =>true %>
    </div>

    <div class="field">
      <%= form.label :longitude %>
      <%= form.text_area :longitude, id: :longitude, :required =>true %>

    </div>

    <div class="field">
      <%= form.label :latitude %>
      <%= form.text_area :latitude, id: :latitude, :required =>true %>

    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
   <% end %>
<% end %>
