<p id="notice"><%= notice %></p>

<h1>Bikestands</h1>
<br>
<% if @current_user.present? && @current_user.user_type == 'admin' %>
<div class="button"><%= link_to 'New Bikestand', new_bikestand_path %></div>
<% end %>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
<table>
  <% if @current_user.present? && @current_user.user_type == 'admin' %>
    <thead>
      <tr class="row100 head">
        <th class="column100 column1">Location</th>
        <th class="column100 column2">Longitude</th>
        <th class="column100 column3">Latitude</th>
        <th class="column100 column4" colspan="3">Actions</th>
      </tr>
    </thead>
    <%else%>
      <thead>
        <tr class="row100 head">
          <th class="column100 column1">Location</th>
          <th class="column100 column2">Longitude</th>
          <th class="column100 column3">Latitude</th>

        </tr>
      </thead>
  <%end%>




  <tbody>
    <% @bikestands.each do |bikestand| %>
      <tr class="row100">
        <td class="column100 column1"><%= bikestand.location %></td>

        <td class="column100 column2"><%= bikestand.longitude %></td>
        <td class="column100 column3"><%= bikestand.latitude %></td>
        <%if @current_user.present? && @current_user.user_type == 'admin'%>

        <td class="column100 column4"><%= link_to 'Show', bikestand %></td>
        <td class="column100 column5"><%= link_to 'Edit', edit_bikestand_path(bikestand) %></td>
        <td class="column100 column6"><%= link_to 'Remove Bike Stand', bikestand, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<!--  *********************************************** -->

<%= content_tag :div, id: "map", data: {location: @bikestands} do %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nJABK2HEiQKo4V-FCEMWX5xag8vVJeA&callback=initMap">
</script>

<script>
let bikestand = {lat: -33.87, lng: 151.20}
let map;
// let ipAddress = '<%=  request.remote_ip %>'

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: bikestand.lat, lng: bikestand.lng},
    zoom: 13,
    styles:
      [
    {
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#ebe3cd"
        }
      ]
    },
    {
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#523735"
        }
      ]
    },
    {
      "elementType": "labels.text.stroke",
      "stylers": [
        {
          "color": "#f5f1e6"
        }
      ]
    },
    {
      "featureType": "administrative",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#c9b2a6"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#dcd2be"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "administrative.land_parcel",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#ae9e90"
        }
      ]
    },
    {
      "featureType": "landscape.natural",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#93817c"
        }
      ]
    },
    {
      "featureType": "poi.business",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#a5b076"
        }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "labels.text",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#447530"
        }
      ]
    },
    {
      "featureType": "road",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#f5f1e6"
        }
      ]
    },
    {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#fdfcf8"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#f8c967"
        }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#e9bc62"
        }
      ]
    },
    {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#e98d58"
        }
      ]
    },
    {
      "featureType": "road.highway.controlled_access",
      "elementType": "geometry.stroke",
      "stylers": [
        {
          "color": "#db8555"
        }
      ]
    },
    {
      "featureType": "road.local",
      "elementType": "labels",
      "stylers": [
        {
          "visibility": "off"
        }
      ]
    },
    {
      "featureType": "road.local",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#806b63"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#8f7d77"
        }
      ]
    },
    {
      "featureType": "transit.line",
      "elementType": "labels.text.stroke",
      "stylers": [
        {
          "color": "#ebe3cd"
        }
      ]
    },
    {
      "featureType": "transit.station",
      "elementType": "geometry",
      "stylers": [
        {
          "color": "#dfd2ae"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "geometry.fill",
      "stylers": [
        {
          "color": "#b9d3c2"
        }
      ]
    },
    {
      "featureType": "water",
      "elementType": "labels.text.fill",
      "stylers": [
        {
          "color": "#92998d"
        }
      ]
    }
  ]


  });
  console.log($('#map').data('location') )
  let locationList = $('#map').data('location')
  for (var i = 0; i < locationList.length; i++) {
    console.log( locationList[i] )
    marker = new google.maps.Marker ({
     position: {lat: +locationList[i].latitude, lng: +locationList[i].longitude},
     map: map,
     // label: locationList[i].location,
     title:locationList[i].location
     // this icon didnt work
     // icon:'app/assets/images/download.png'

    })
  }
}
navigator.geolocation.getCurrentPosition( function(results) {
  // changed longitude to bikestand_long, latitude to bikestand_lat
  console.log(results.coords.latitude, results.coords.longitude)
  bikestand = {lat: +results.coords.latitude, lng: +results.coords.longitude}
 initMap()
})
</script>

<% end %>


<!--  *********************************************** -->
