<p id="notice"><%= notice %></p>

<h1>Bikestands</h1>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Bikestand long</th>
      <th>Bikestand lat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikestands.each do |bikestand| %>
      <tr>
        <td><%= bikestand.location %></td>

        <td><%= bikestand.longitude %></td>
        <td><%= bikestand.latitude %></td>
        <%if @current_user.present? && @current_user.user_type == 'admin'%>

        <td><%= link_to 'Show', bikestand %></td>
        <td><%= link_to 'Edit', edit_bikestand_path(bikestand) %></td>
        <td><%= link_to 'Destroy', bikestand, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<!--  *********************************************** -->

<%= content_tag :div, id: "map", data: {location: @bikestands} do %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nJABK2HEiQKo4V-FCEMWX5xag8vVJeA&callback=initMap">
</script>

<script>
let bikestand = {lat: -33.87, lng: 151.20}
let map;
let ipAddress = '<%=  request.remote_ip %>'
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: bikestand.lat, lng: bikestand.lng},
    zoom: 13
  });
  console.log($('#map').data('location') )
  let locationList = $('#map').data('location')
  for (var i = 0; i < locationList.length; i++) {
    console.log( locationList[i] )
    marker = new google.maps.Marker ({
     position: {lat: +locationList[i].latitude, lng: +locationList[i].longitude},
     map: map,
     label: locationList[i].location
    })
  }
}
navigator.geolocation.getCurrentPosition( function(results) {
  // changed longitude to bikestand_long, latitude to bikestand_lat
  console.log(results.coords.latitude, results.coords.longitude)
  bikestand = {lat: +results.coords.latitude, lng: +results.coords.longitude}
 initMap()
})
</script>

<% end %>


<!--  *********************************************** -->

<br>

<% if @current_user.present? && @current_user.user_type == 'admin' %>
<%= link_to 'New Bikestand', new_bikestand_path %>
<% end %>
