<p id="notice"><%= notice %></p>

<h2>Bikestand</h2>

<p>
  <strong>Location:</strong>
  <%= @bikestand.location %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@bikestand.bikestand_lat}%2C#{@bikestand.bikestand_long}" %>

<h3>Nearby Bikestands</h3>
<ul>
<% for bikestand in @bikestand.nearbys(10) %>
 <li><%= link_to bikestand.location, bikestand %> (<%= bikestand.distance.round(2) %> miles)</li>
<% end %>
</ul>

<p>
  <strong>Bikestand long:</strong>
  <%= @bikestand.bikestand_long %>
</p>

<p>
  <strong>Bikestand lat:</strong>
  <%= @bikestand.bikestand_lat %>
</p>


<p>
  <strong>Bikes:</strong>
  <ul>
    <% @bikestand.bikes.each do |bike| %>
      <li> <%= link_to bike.bike_serial_num, bike_path %> </li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_bikestand_path(@bikestand) %> |
<%= link_to 'Back', bikestands_path %>
