<p id="notice"><%= notice %></p>

<h2>Bikestand</h2>

<p>
  <strong>Location:</strong>
  <%= @bikestand.location %>
</p>

<p>
  <strong>Bikestand long:</strong>
  <%= @bikestand.bikestand_long %>
</p>

<p>
  <strong>Bikestand lat:</strong>
  <%= @bikestand.bikestand_lat %>
</p>

<<<<<<< HEAD

  <%= link_to 'Edit', edit_bikestand_path(@bikestand) %> |
  <%= link_to 'Back', bikestands_path %>
=======
<p>
  <strong>Bikes:</strong>
  <ul>
    <% @bikestand.bikes.each do |bike| %>
      <li> <%= bike.bike_serial_num %></i>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_bikestand_path(@bikestand) %> |
<%= link_to 'Back', bikestands_path %>
>>>>>>> 2ce669fb50f4b19c49c47817643ea8fa644bf2e6
