<p id="notice"><%= notice %></p>

<h2>Bikestand</h2>

<p>
  <strong>Location:</strong>
  <%= @bikestand.location %>
</p>

<!--****************Changed*********************-->
<p>
  <strong>Bikestand long:</strong>
  <%= @bikestand.longitude %>
</p>

<p>
  <strong>Bikestand lat:</strong>
  <%= @bikestand.latitude %>
</p>
<!--****************Changed*********************-->

<p>
  <strong>Bikes:</strong>
  <ul>
    <% @bikestand.bikes.each do |bike| %>
      <li> <%= link_to bike.bike_serial_num, bike_path %> </li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_bikestand_path(@bikestand) %> |
<%= link_to 'Back', bikestands_path %>
