<!DOCTYPE html>
<html>
  <head>
    <title>BikerentalServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main' %>
  </head>

  <body>
    <div id="bodywrapper">
      <div id="nav">
        <% if @current_user.present? %>
          <%= link_to "Sign Out #{@current_user.name}", login_path, :method => 'delete'%>
          <%= link_to 'Home',root_path %>
          <%= link_to 'Bikes',bikes_path %>
          <%= link_to 'Bike Stands', bikestands_path %>
          <%= link_to 'Rentals',rentals_path%>
          <h3>Welcome, <%= @current_user.name%>!</h3>
          <% else %>
          <%= link_to 'Home',root_path %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Sign in', login_path %>
          <%= link_to 'Bike Stands', bikestands_path %>
          <% end %>
      </div>
    <%= yield %>
  </div>
  </body>
</html>
