<!DOCTYPE html>
<html>
  <head>
    <title>BikerentalServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main' %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alice|Berkshire+Swash|Bree+Serif|Contrail+One|Fugaz+One|Lobster|Lobster+Two|Satisfy|Shrikhand" rel="stylesheet">

  </head>

  <body>
    <div id="bodywrapper">


      <nav>
          <% if @current_user.present? %>

          <div id="logoOuter">
            <div id="logoInner">
              <%= link_to 'bShare',root_path %>
            </div>
          </div>


          <div class="navInner">
            <div class="barLinks">
              <div class="barLeft">
                <% if @current_user.user_type === 'admin' %>
                <%= link_to 'Users', users_path %>
                <% else %>
                <%= link_to 'Profile', users_path %>
                <% end %>
                <%= link_to 'Bikes',bikes_path %>
                <%= link_to 'Bike Stands', bikestands_path %>
              </div>
              <div class="barRight">
                <%= link_to 'Rentals',rentals_path%>
                <%= link_to "Sign Out #{@current_user.name}", login_path, :method => 'delete'%>
              </div>
            </div>


            <div class="burgerLinks">
              <%= image_tag("burgerIcon.svg", :alt => "menu") %>
              <div class="ham">
                <%= link_to 'Profile', users_path %>
                <%= link_to 'Bikes',bikes_path %>
                <%= link_to 'Bike Stands', bikestands_path %>
                <%= link_to 'Rentals',rentals_path%>
                <%= link_to "Sign Out #{@current_user.name}", login_path, :method => 'delete'%>
              </div>
            </div>
          </div>

              <% else %>

              <div id="logoOuter">
                <div id="logoInner">
                  <%= link_to 'bShare',root_path %>
                </div>
              </div>


              <div class="navInner">
                <div class="barLinks">
                  <div class="barLeft">
                    <%= link_to 'Sign in', login_path %>
                    <%= link_to 'Sign Up', new_user_path %>
                  </div>
                  <div class="barRight">
                    <%= link_to 'Bike Stands', bikestands_path %>
                  </div>
                </div>

              <div class="burgerLinks">
                <%= image_tag("burgerIcon.svg", :alt => "menu") %>
                <div class="ham">
                <%= link_to 'Sign in', login_path %>
                <%= link_to 'Sign Up', new_user_path %>
                <%= link_to 'Bike Stands', bikestands_path %>
                </div>
              </div>
            </div>


            <% end %>
      </nav>

    <main>
      <%= yield %>
  <div class="push"></div>
    </main>

</div>
      <footer>
        <div class="footOuter">

          <div class="footInner">

            <div class="footerLinks">
                <div class="footerLinksLeft">
                  <!-- <a href="#">About Us</a> -->
                  <%= link_to 'About Us', '/pages/about'%>
                  <%= link_to 'FAQ', '/pages/faq'%>
                  <%= link_to 'Bike Safety', '/pages/bikesafety'%>
                  <%= link_to 'Privacy Policy', '/pages/privacypolicy'%>
                </div>
                <div class="footerLinksRight">
                  <%= link_to 'What is bShare', '/pages/whatbShare'%>
                  <%= link_to 'Our Mission', '/pages/ourmission'%>
                  <a href="#">Blog</a>
                  <a href="#">Advertising</a>
                </div>
            </div>
              <div class="socialMedia">
                <p>Follow us on: </p>
                <%= link_to image_tag("facebook_icon.svg", :alt => "Facebook") %>
                <%= link_to image_tag("twitter_icon.svg", :alt => "Twitter") %>
                <%= link_to image_tag("github_icon.svg", :alt => "Github") %>
                <%= link_to image_tag("pinterest_icon.svg", :alt => "Pinterest") %>
              </div>

              <p class="copyright">&copy; 2018 Gurdeep, Meena, Ricky, Winnie</p>
          </div>
        </div>

      </footer>



  </body>
</html>
