<!DOCTYPE html>
<html>
  <head>
    <title>BikerentalServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'main' %>

  </head>

  <body>
    <div id="bodywrapper">


      <nav>
        <% if @current_user.present? %>
        <div id="logoOuter">
          <div id="logoInner">
            <%= link_to 'Home',root_path %>
          </div>
        </div>
        <div class="leftnav">
          <%= link_to 'Bikes',bikes_path %>
          <%= link_to 'Bike Stands', bikestands_path %>
        </div>
        <div class="rightnav">
          <%= link_to 'Rentals',rentals_path%>
          <%= link_to "Sign Out #{@current_user.name}", login_path, :method => 'delete'%>
        </div>
          <% else %>
          <div id="logoOuter">
            <div id="logoInner">
              <%= link_to 'Home',root_path %>
            </div>
          </div>
          <div class="leftnav">
            <%= link_to 'Sign in', login_path %>
            <%= link_to 'Sign Up', new_user_path %>
          </div>
          <div class="rightnav">
            <%= link_to 'Bike Stands', bikestands_path %>
          </div>
          <% end %>
      </nav>


      <%= yield %>



      <footer>
        &copy; 2018 Gurdeep, Meena, Ricky, Winnie
      </footer>


    </div>
  </body>
</html>
